<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        /> -->
        <!-- <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <h4>Persons List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let person of persons; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActivePerson(person, i)"
        >
          {{ person.firstName }}
        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <div *ngIf="currentPerson">
        <h4>Person</h4>
        <div>
          <label><strong>FirstName:</strong></label> {{ currentPerson.firstName }}
        </div>
        <div>
          <label><strong>LastName:</strong></label>
          {{ currentPerson.lastName }}
        </div>
        <div>
          <label><strong>EmailAddress:</strong></label>
          {{ currentPerson.emailAddress }}
        </div>
  
        <a class="badge badge-warning" routerLink="/persons/{{ currentPerson.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentPerson">
        <br />
        <p>Please click on a Person...</p>
      </div>
    </div>
  </div>